body,
html {
  height: 100%;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.home {
  background-color: #dedede;
  height: 100vh;
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  align-items: center;
}

.home__wrapper {
  @media (max-width: 767px) {

    text-align: center;
padding: 0 5%;
  }
}

.border {
  border: 1px solid red;
}
.home-scrool {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: translate(-50%, -50%);
  -moz-animation: translate(-50%, -50%);
  -o-animation: translate(-50%, -50%);
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
   animation: flickerAnimation 1s infinite;

 }


           @keyframes flickerAnimation {
             0%   { opacity:1; }
             50%  { opacity:0; }
             100% { opacity:1; }
           }
           @-o-keyframes flickerAnimation{
             0%   { opacity:1; }
             50%  { opacity:0; }
             100% { opacity:1; }
           }
           @-moz-keyframes flickerAnimation{
             0%   { opacity:1; }
             50%  { opacity:0; }
             100% { opacity:1; }
           }
           @-webkit-keyframes flickerAnimation{
             0%   { opacity:1; }
             50%  { opacity:0; }
             100% { opacity:1; }
           }
